<script src="/socket.io/socket.io.js"></script>
<script src="client.js" type="text/javascript"></script>
<div align="center">
    <button onclick="enterCharacters('a')">a</button>
    <button onclick="enterCharacters('b')">b</button>
    <button onclick="enterCharacters('c')">c</button>
    <button onclick="enterCharacters('d')">d</button>
    <button onclick="enterCharacters('e')">e</button>
    <button onclick="enterCharacters('f')">f</button>
    <button onclick="stop()">stop</button>
</div>

<div align="center">
    <button onclick="reset()">reset</button>
    <button onclick="enterUsername('adasdasd')">mock username</button>
    <button onclick="checkPlayer()">Check Player</button>
</div>
